<!-- Page header -->
<page-header class="content-group"></page-header>
<!-- /Page header -->

<!-- Basic examples -->
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title">Basic text field</h6>
        <div class="heading-elements">
          <ul class="icons-list">
            <li>
              <a data-action="collapse"></a>
            </li>
            <li>
              <a data-action="reload"></a>
            </li>
            <li>
              <a data-action="close"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel-body">
        <p class="content-group">A simple example of using Alpaca with nothing more than a string of text. Alpaca looks at your data and determines
          that it is a string. It then looks for a suitable candidate for representing a string and it decides to use the
          <code>text</code> field.</p>
        <div id="alpaca-basic"></div>
        <a href="#alpaca-basic-source" data-toggle="collapse"><i class="icon-embed2 position-left"></i> Show source code &rarr;</a>
        <div class="collapse mt-10" id="alpaca-basic-source">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title">Display only view</h6>
        <div class="heading-elements">
          <ul class="icons-list">
            <li>
              <a data-action="collapse"></a>
            </li>
            <li>
              <a data-action="reload"></a>
            </li>
            <li>
              <a data-action="close"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel-body">
        <p class="content-group">Displays a text field using a display-only view. The text field simply prints out and is not editable, a simple block
          appears instead. This is a default form control type provided by Bootstrap framework.</p>
        <div id="alpaca-static"></div>
        <a href="#alpaca-static-source" data-toggle="collapse"><i class="icon-embed2 position-left"></i> Show source code &rarr;</a>
        <div class="collapse mt-10" id="alpaca-static-source">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /basic examples -->
